/* account info */

.maccountinfo .userinfo-content {
    background-image: url(../images/bgs_new/accountinfo-bg.png);
    background-size: 100% 100%;
}

.maccountinfo .userlogo {
    margin: 0 auto;
    margin-top: 10px;
}

.maccountinfo .user-name {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}

.maccountinfo .user-level {
    margin: 0 auto;
}

.maccountinfo .userinfo-direct {
    display: block;
    margin-top: 15px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.maccountinfo .userinfo-direct span {
    box-sizing: border-box;
    padding: 4px 10px;
    background: #391717;
}

.maccountinfo .balance-content {
    height: 41px;
    background: rgb(73, 31, 31, 0.6);
    display: flex;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

.maccountinfo .balance-content .desc {
    font-size: 1.8rem;
    color: #aaa;
    margin-right: 10px;
}

.maccountinfo .balance-content .moneyicon {
    margin-right: 5px;
}

.maccountinfo .balance-content .money {
    font-size: 2rem;
    color: #fff;
}


/* 作为整体的返回按钮 */

.maccountinfo .backicon {
    position: absolute;
    right: 20px;
}

.maccountinfo .userinfo-operate {
    height: 50px;
    background: #2e0909;
    width: 100%;
    display: flex;
    align-items: center;
    color: #ccc;
    font-size: 1.4rem;
}

.maccountinfo .userinfo-operate .operate-item {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.maccountinfo .userinfo-operate .operate-item.border-sprite {
    border-right: 1px solid #431818;
}

.maccountinfo .userinfo-operate .operate-item .icon {
    margin-right: 6px;
}

.maccountinfo .page-content .page-item {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.maccountinfo .page-content .page-item>div:nth-child(1) {
    margin-right: 20px;
}

.maccountinfo .page-content .page-item .title {
    font-size: 1.4rem;
    color: #666666;
}

.maccountinfo .page-content .page-item.page-bottom {
    margin-bottom: 20px;
    border-bottom: 0px;
}


/* start: 2019promo page*/


/* lixikyhoi2019 */

.lixiky.body {
    background: url(../images/sprite-promos/lixikyhoi2019/bg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100vh;
}

.lixiky .show-share {
    width: 12vw;
    height: 7vh;
    top: 7vh;
    right: 9vw;
    position: absolute;
}

.lixiky .show-content {
    width: 46vw;
    height: 8vh;
    bottom: 33vh;
    left: 27vw;
    position: absolute;
}

.lixiky .show-sumRedPacket {
    width: 41vw;
    height: 13vh;
    bottom: 16vh;
    left: 5vw;
    position: absolute;
}

.lixiky .show-custRedPacket {
    width: 41vw;
    height: 13vh;
    bottom: 16vh;
    right: 5vw;
    position: absolute;
}

.lixiky .content-block {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 111111;
    display: none;
    background: rgba(0, 0, 0, 0.8);
}

.lixiky .content-block.main-color {
    background: rgba(41, 0, 0, 0.4);
}

.lixiky .content-layout {
    width: 90%;
    height: 82%;
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #2e0a09;
    overflow-y: scroll;
}

.lixiky .content-layout .close {
    position: absolute;
    right: 8%;
    top: 2%;
    width: 15px;
    height: 15px;
}

.lixiky .content-layout .close:before,
.lixiky .content-layout .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #fff;
}

.lixiky .content-layout .close:before {
    transform: rotate(45deg);
}

.lixiky .content-layout .close:after {
    transform: rotate(-45deg);
}

.lixiky .show-layout {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 14vh;
    right: 10vw;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(171, 56, 0, 0.5);
    overflow-y: scroll;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 198, 0, 0.5);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.lixiky .show-layout .facebook-icon {
    background: url(../images/sprite-promos/lixikyhoi2019/FB.png) no-repeat;
    background-size: 100%;
    width: 35px;
    height: 50px;
}

.lixiky .lantern {
    background: url(../images/sprite-promos/lixikyhoi2019/lantern.png) no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 50px;
}

.lixiky .redpacket-layout {
    background: #770000;
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 8px;
    border: 1px solid #a56f00;
}

.lixiky .redpacket-layout .redPacket-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    color: #f6d668;
    font-size: 1.5rem;
    font-weight: bold;
}

.lixiky .redpacket-layout th {
    color: #fff;
    font-size: 1.4rem;
    background: #770000;
}

.lixiky .redpacket-table tbody {
    background: #fff;
}

.lixiky .redpacket-table tbody tr {
    height: 6vh;
    color: #000;
    font-size: 1.5rem;
}

.lixiky .redpacket-table tbody tr td {
    text-align: center;
    border-left: 1px solid #7f7f7f;
    border-bottom: 1px solid;
}

.lixiky .leftLantern {
    position: absolute;
    left: 10px;
}

.lixiky .rightLantern {
    position: absolute;
    right: 10px;
}

.lixiky .li-circle {
    list-style: circle !important;
}


/* end: 2019promo page*/


/* start: market livek8 */

.livek8.mainbg-session1 {
    background: url(../images/market/k8live/session1.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.livek8.mainbg-session2 {
    background: url(../images/market/k8live/session2.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.livek8 .redirect-register {
    position: absolute;
    width: 62vw;
    height: 6vh;
    left: 19vw;
    bottom: 10vh;
}

.livek8 .main-block {
    position: absolute;
    width: 74vw;
    height: 42vh;
    top: 18vh;
    left: 13vw;
}

.livek8 .item-block {
    display: flex;
    align-items: center;
    height: 6vh;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 3vh;
}

.livek8 .item-block .label {
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.livek8 .item-block .input {
    width: 100%;
    height: inherit;
    border: none;
    font-size: 1.5rem;
    color: #000;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.livek8 .submit-register {
    position: absolute;
    height: 6vh;
    width: 68vw;
    top: 69vh;
    left: 16vw;
}

.livek8 .redirect-login {
    position: absolute;
    height: 2vh;
    width: 22vw;
    top: 76vh;
    left: 51vw;
}

.livek8 .checkbox {
    position: absolute;
    width: 4vh;
    height: 6vw;
    bottom: 33.5vh;
    left: 19vw;
}

.livek8 .checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    opacity: 0;
}

.livek8-icons {
    background: url("../images/market/k8live/livek8icons.png") no-repeat;
    background-size: 111px 19px;
}

.livek8-icons--email {
    width: 18px;
    height: 13px;
    background-position: -32px 0px;
}

.livek8-icons--notrick {
    width: 18px;
    height: 18px;
    background-position: -72px 0px;
}

.livek8-icons--password {
    width: 16px;
    height: 19px;
    background-position: -14px 0px;
}

.livek8-icons--phone {
    width: 12px;
    height: 19px;
    background-position: 0px 0px;
}

.livek8-icons--tricked {
    width: 18px;
    height: 18px;
    background-position: -93px 0px;
}

.livek8-icons--username {
    width: 18px;
    height: 18px;
    background-position: -52px 0px;
}


/* end: market livek8 */