/* 基础变量定义 */
:root {
  --color-background: #252525;
  --color-text: #000;
  --color-border-bottom: #dadada;
  --px-base: 1;
  --width-padding: 15;
  --width-margin: 15;
  --height-magin: 5;
  --height-form__field: 49;
  --font-size: 10;
  --font-family: /* Safari for OS X and iOS (San Francisco) */
  '-apple-system', /* Chrome for OS X (San Francisco) */
  'BlinkMacSystemFont', /* Chinese font for OSX and iOS */
  'Hiragino Sans GB', /* Android */
  'Roboto', /* Windows */
  'Segoe UI', /* Chinese font for Windows */
  'Microsoft Yahei', '微软雅黑', /* Linux */
  'Oxygen-Sans', 'Ubuntu', 'Cantarell', /* Basic web fallback */
  'Helvetica', 'Arial', 'STHeiti', sans-serif, /* Emoji */
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 10px;
  font-size: calc(var(--font-size) * 1px);
}


/* 浏览器差异性处理 */

html,
body,
div,
span,
header,
footer,
main,
nav,
section,
ul,
li,
ol,
select,
input,
textarea,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
td {
  margin: 0;
  padding: 0;
}


/* 基础设置 */

html {
  font-family: /* Safari for OS X and iOS (San Francisco) */
  '-apple-system', /* Chrome for OS X (San Francisco) */
  'BlinkMacSystemFont', /* Chinese font for OSX and iOS */
  'Hiragino Sans GB', /* Android */
  'Roboto', /* Windows */
  'Segoe UI', /* Chinese font for Windows */
  'Microsoft Yahei', '微软雅黑', /* Linux */
  'Oxygen-Sans', 'Ubuntu', 'Cantarell', /* Basic web fallback */
  'Helvetica', 'Arial', 'STHeiti', sans-serif, /* Emoji */
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-family: var(--font-family);
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


/* 剧中对齐 */

.ui-center__margin {
  margin: 0 auto;
}


/* 底边取消边框 */

.ui-bbot--none {
  border-bottom: 0 !important;
}


/* margin-bottom */

.ui-mb__5 {
  margin-bottom: 5px;
}

.ui-mb__10 {
  margin-bottom: 10px;
}


/* margin-right */

.ui-mr__5 {
  margin-right: 5px;
}

.ui-mr__15 {
  margin-right: 15px;
}


/*padding-bottom*/

.ui-pb__2 {
  padding-bottom: 2px;
}

.ui-pb__3 {
  padding-bottom: 3px;
}


/* relative */

.ui-pos__relative {
  position: relative;
}


/* logo */


/*k8logo*/

.ui-logo__k8logo {
  background: url("../images/sprite-logos/headerk8logo.png") no-repeat;
  background-size: 83px 38px;
}

.ui-logo__k8logo--headerk8logo {
  width: 83px;
  height: 38px;
  background-position: 0px 0px;
}


/* icons */

.ui-content {
	overflow: hidden;
	width: 100%;
}
/* nav*/

.ui-icon__nav {
  background: url("../images/sprite-icons/nav.png") no-repeat;
  background-size: 319px 22px;
}

.active .ui-icon__nav--Deposit {
  width: 22px;
  height: 22px;
  background-position: -27px 0px;
}

.ui-icon__nav--Deposit {
  width: 22px;
  height: 22px;
  background-position: -162px 0px;
}

.active .ui-icon__nav--Home {
  width: 22px;
  height: 22px;
  background-position: -54px 0px;
}

.ui-icon__nav--Home {
  width: 22px;
  height: 22px;
  background-position: -81px 0px;
}

.active .ui-icon__nav--K8Higlights {
  width: 22px;
  height: 22px;
  background-position: -108px 0px;
}

.ui-icon__nav--K8Higlights {
  width: 22px;
  height: 22px;
  background-position: -135px 0px;
}

.active .ui-icon__nav--LiveChat {
  width: 22px;
  height: 22px;
  background-position: 0px 0px;
}

.ui-icon__nav--LiveChat {
  width: 22px;
  height: 22px;
  background-position: -189px 0px;
}

.active .ui-icon__nav--MemberCenter {
  width: 22px;
  height: 22px;
  background-position: -216px 0px;
}

.ui-icon__nav--MemberCenter {
  width: 22px;
  height: 22px;
  background-position: -243px 0px;
}

.active .ui-icon__nav--Promotions {
  width: 22px;
  height: 22px;
  background-position: -270px 0px;
}

.ui-icon__nav--Promotions {
  width: 22px;
  height: 22px;
  background-position: -297px 0px;
}


/* header */

.ui-icon__header { background: url("../images/sprite-icons/header.png") no-repeat; background-size: 211px 127px; }
.ui-icon__header--Message { width: 31px; height: 12px; background-position: -33px -106px; }
.ui-icon__header--User-ProfileBig { width: 19px; height: 22px; background-position: 0px -106px; }
.ui-icon__header--level0 { width: 99px; height: 13px; background-position: 0px 0px; }
.ui-icon__header--level1 { width: 99px; height: 13px; background-position: 0px -26px; }
.ui-icon__header--level2 { width: 99px; height: 13px; background-position: 0px -53px; }
.ui-icon__header--level3 { width: 99px; height: 13px; background-position: 0px -79px; }
.ui-icon__header--level4 { width: 99px; height: 13px; background-position: -113px 0px; }
.ui-icon__header--level5 { width: 99px; height: 13px; background-position: -113px -26px; }
.ui-icon__header--level6 { width: 99px; height: 13px; background-position: -113px -53px; }
.ui-icon__header--level7 { width: 99px; height: 13px; background-position: -113px -79px; }


/* index */

.ui-icon__index {
  background: url("../images/sprite-icons/index.png") no-repeat;
  background-size: 269px 26px;
}

.active .ui-icon__index--Casino {
  width: 27px;
  height: 26px;
  background-position: -156px 0px;
}

.ui-icon__index--Casino {
  width: 27px;
  height: 26px;
  background-position: -184px 0px;
}

.ui-icon__index--btihot {
  background: url("../images/common-imgs/index/bti-hot.png") no-repeat;
  width: 113px;
  height: 23px;
  background-size: 100%;
}


/* 增加彩票图标 */

.active .ui-icon__index--Lottery {
  background: url("../images/sprite-icons/Lottery-cik.png") no-repeat;
  background-size: 100%;
  width: 26px;
  height: 26px;
}

.ui-icon__index--Lottery {
  background: url("../images/sprite-icons/Lottery-common.png") no-repeat;
  background-size: 100%;
  width: 26px;
  height: 26px;
}

/* 增加棋牌图标 */
.active .ui-icon__index--qipai {
    background: url("../images/sprite-icons/qipai-cik.png") no-repeat;
    background-size: 100%;
    width: 26px;
    height: 26px;
}

.ui-icon__index--qipai {
    background: url("../images/sprite-icons/qipai.png") no-repeat;
    background-size: 100%;
    width: 26px;
    height: 26px;
}


.inactive .ui-icon__index--Lottery {
  width: 26px;
  height: 26px;
  background-position: -99px 0px;
}

.active .ui-icon__index--Slot {
  width: 24px;
  height: 26px;
  background-position: -46px 0px;
}

.ui-icon__index--Slot {
  width: 24px;
  height: 26px;
  background-position: -73px 0px;
}

.active .ui-icon__index--Sports {
  width: 27px;
  height: 26px;
  background-position: -127px 0px;
}

.ui-icon__index--Sports {
  width: 27px;
  height: 26px;
  background-position: -213px 0px;
}

.ui-icon__index--hidebanner {
  width: 21px;
  height: 10px;
  background-position: -23px 0px;
}

.ui-icon__index--mobilebutton {
  width: 7px;
  height: 11px;
  background-position: 0px 0px;
}

.ui-icon__index--pcbutton {
  width: 12px;
  height: 11px;
  background-position: -9px 0px;
}

.ui-icon__index--showbanner {
  width: 27px;
  height: 12px;
  background-position: -241px 0px;
}


/* live-casino*/

.ui-icon__livecasino {
  background: url("../images/sprite-icons/livecasino.png") no-repeat;
  background-size: 637px 308px;
}

.ui-icon__livecasino--agportrait {
  width: 138px;
  height: 133px;
  background-position: -121px 0px;
}

.ui-icon__livecasino--ebetportrait {
  width: 119px;
  height: 131px;
  background-position: 0px 0px;
}

.ui-icon__livecasino--livecasino-bg {
  width: 375px;
  height: 308px;
  background-position: -261px 0px;
}

.ui-icon__livecasinoicons {
  background: url("../images/sprite-icons/livecasinoicons.png") no-repeat;
  background-size: 150px 41px;
}

.ui-icon__livecasinoicons--Blackjack {
  width: 26px;
  height: 41px;
  background-position: -31px 0px;
}

.ui-icon__livecasinoicons--baccarat {
  width: 26px;
  height: 40px;
  background-position: 0px 0px;
}

.ui-icon__livecasinoicons--dragontiger {
  width: 26px;
  height: 41px;
  background-position: -62px 0px;
}

.ui-icon__livecasinoicons--roulette {
  width: 26px;
  height: 41px;
  background-position: -93px 0px;
}

.ui-icon__livecasinoicons--sicbo {
  width: 26px;
  height: 41px;
  background-position: -124px 0px;
}


/* sports-casino */
.ui-icon__sportscasino { background: url("../images/sprite-icons/sportscasino.png") no-repeat; background-size: 230px 157px; }
.ui-icon__sportscasino.badminton { width: 26px; height: 26px; background-position: 0px -132px; }
.ui-icon__sportscasino.bb { width: 23px; height: 26px; background-position: -116px -132px; }
.ui-icon__sportscasino.btilogo { width: 101px; height: 41px; background-position: 0px 0px; }
.ui-icon__sportscasino.esport { width: 23px; height: 26px; background-position: -79px -132px; }
.ui-icon__sportscasino.football { width: 23px; height: 26px; background-position: -152px -132px; }
.ui-icon__sportscasino.form { width: 39px; height: 26px; background-position: -128px -54px; }
.ui-icon__sportscasino.imlogo { width: 119px; height: 21px; background-position: 0px -97px; }
.ui-icon__sportscasino.mobileicon { width: 8px; height: 12px; background-position: -159px -97px; }
.ui-icon__sportscasino.opuslogo { width: 114px; height: 29px; background-position: 0px -54px; }
.ui-icon__sportscasino.pcicon { width: 13px; height: 12px; background-position: -133px -97px; }
.ui-icon__sportscasino.sabalogo { width: 116px; height: 30px; background-position: -115px 0px; }
.ui-icon__sportscasino.vat { width: 25px; height: 26px; background-position: -40px -132px; }
.ui-icon__sportscasino.waterfootbal { width: 33px; height: 26px; background-position: -180px -54px; }

/* slot games */

.ui-icon__slotgames {
  background: url("../images/sprite-icons/slotgames.png") no-repeat;
  background-size: 591px 50px;
}

.ui-icon__slotgames--aglogo {
  width: 70px;
  height: 20px;
  background-position: -448px 0px;
}

.ui-icon__slotgames--arrowup {
  width: 50px;
  height: 50px;
  background-position: -105px 0px;
}


/* 处理游戏图标和之前js逻辑所写名称一致 */

.icon-heart {
  width: 13px;
  height: 11px;
  background-position: -25px 0px;
}

.icon-heart__active {
  width: 14px;
  height: 11px;
  background-position: -40px 0px;
}

.ui-icon__slotgames--headerfavorite {
  width: 14px;
  height: 15px;
  background-position: -56px 0px;
}

.ui-icon__slotgames--headerfavorite.active {
  width: 14px;
  height: 15px;
  background-position: -72px 0px;
}

.ui-icon__slotgames--headersearch {
  width: 14px;
  height: 15px;
  background-position: -89px 0px;
}

.ui-icon__slotgames--hoticon {
  width: 11px;
  height: 13px;
  background-position: -11px 0px;
}

.ui-icon__slotgames--mglogo {
  width: 70px;
  height: 20px;
  background-position: -158px 0px;
}

.ui-icon__slotgames--pnglogo {
  width: 70px;
  height: 20px;
  background-position: -230px 0px;
}

.ui-icon__slotgames--pplogo {
  width: 70px;
  height: 20px;
  background-position: -303px 0px;
}

.ui-icon__slotgames--ptlogo {
  width: 70px;
  height: 20px;
  background-position: -375px 0px;
}

.ui-icon__slotgames--select {
  width: 9px;
  height: 7px;
  background-position: 0px 0px;
}

.ui-icon__slotgames--ttglogo {
  width: 70px;
  height: 20px;
  background-position: -520px 0px;
}


/* accountinfo */

.ui-icon__accountinfo { background: url("../images/sprite-icons/accountinfo.png") no-repeat; background-size: 282px 192px; }
.ui-icon__accountinfo--backdray { width: 11px; height: 17px; background-position: -24px -176px; }
.ui-icon__accountinfo--backwhite { width: 11px; height: 17px; background-position: 0px -176px; }
.ui-icon__accountinfo--deposit { width: 22px; height: 22px; background-position: -259px -53px; }
.ui-icon__accountinfo--download { width: 15px; height: 16px; background-position: -212px -126px; }
.ui-icon__accountinfo--freecall { width: 15px; height: 16px; background-position: -183px -126px; }
.ui-icon__accountinfo--history { width: 15px; height: 13px; background-position: -241px -126px; }
.ui-icon__accountinfo--logout { width: 15px; height: 12px; background-position: -113px -70px; }
.ui-icon__accountinfo--moneyicon { width: 15px; height: 23px; background-position: -183px -89px; }
.ui-icon__accountinfo--personalsetting { width: 19px; height: 16px; background-position: -243px -89px; }
.ui-icon__accountinfo--promomanager { width: 17px; height: 18px; background-position: -212px -89px; }
.ui-icon__accountinfo--userlevel0 { width: 99px; height: 13px; background-position: -70px 0px; }
.ui-icon__accountinfo--userlevel1 { width: 99px; height: 13px; background-position: -183px -26px; }
.ui-icon__accountinfo--userlevel2 { width: 99px; height: 13px; background-position: -183px 0px; }
.ui-icon__accountinfo--userlevel3 { width: 99px; height: 13px; background-position: 0px -150px; }
.ui-icon__accountinfo--userlevel4 { width: 99px; height: 13px; background-position: 0px -123px; }
.ui-icon__accountinfo--userlevel5 { width: 99px; height: 13px; background-position: 0px -97px; }
.ui-icon__accountinfo--userlevel6 { width: 99px; height: 13px; background-position: 0px -70px; }
.ui-icon__accountinfo--userlevel7 { width: 99px; height: 13px; background-position: -70px -26px; }
.ui-icon__accountinfo--userlogo { width: 57px; height: 57px; background-position: 0px 0px; }
.ui-icon__accountinfo--washcode { width: 23px; height: 22px; background-position: -223px -53px; }
.ui-icon__accountinfo--withdraw { width: 26px; height: 22px; background-position: -183px -53px; }


/* mobile card load 图片*/

.ui-icon__mobilecard--MobiFone {
  background: url("../images/bank/mobilecardtype/mobifone.png") no-repeat;
  background-size: 100%;
  width: 90px;
  height: 20px;
}

.ui-icon__mobilecard--Viettel {
  background: url("../images/bank/mobilecardtype/viettel.png") no-repeat;
  background-size: 100%;
  width: 48px;
  height: 29px;
}

.ui-icon__mobilecard--Vinaphone {
  background: url("../images/bank/mobilecardtype/vinaphone.png") no-repeat;
  background-size: 100%;
  width: 90px;
  height: 20px;
}


/* ui-header */

.ui-header {
  width: 100%;
  height: 50px;
  background: #1e0404;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  position: fixed;
  z-index: 998;
}


/* ui-nav */

.ui-nav {
  background: #1e0404;
  border-top: 1px solid #5f5f5f;
  box-sizing: border-box;
  height: 60px;
  padding: 3px 2px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  z-index: 999;
  color: #999;
  font-size: 13px;
}

.ui-nav li {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-nav__item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ui-nav__item.active {
  color: #fff;
}


/* ui主体，包括header和main-content */

.ui-body {
	position: relative;
  margin-top: 50px;
}


/* 临时高度占位符 */

.ui-tempplaceholder {
  height: 0.1px;
}


/* start: 2019新年活动 */

.newYpromo-icon {
  background: url("../images/sprite-promos/newYpromo2019/newYpromo.png") no-repeat;
  background-size: 1000px 96px;
}

.newYpromo-icon--close {
  width: 10px;
  height: 10px;
  background-position: 0px 0px;
}

.newYpromo-icon--cloudBleft {
  width: 71px;
  height: 37px;
  background-position: -66px 0px;
}

.newYpromo-icon--cloudBright {
  width: 83px;
  height: 43px;
  background-position: -223px 0px;
}

.newYpromo-icon--cloudTleft {
  width: 111px;
  height: 50px;
  background-position: -708px 0px;
}

.newYpromo-icon--clouldTright {
  width: 96px;
  height: 85px;
  background-position: -405px 0px;
}

.newYpromo-icon--logo {
  width: 52px;
  height: 76px;
  background-position: -12px 0px;
}

.newYpromo-icon--phone {
  width: 81px;
  height: 96px;
  background-position: -139px 0px;
}

.newYpromo-icon--processbar {
  width: 100px;
  height: 15px;
  background-position: -503px 0px;
}

.newYpromo-icon--processcontent {
  width: 100px;
  height: 15px;
  background-position: -606px 0px;
}

.newYpromo-icon--submit {
  width: 95px;
  height: 22px;
  background-position: -308px 0px;
}

.newYpromo-icon--title {
  width: 178px;
  height: 45px;
  background-position: -822px 0px;
}

.newYPromo {
  position: fixed;
  right: 22px;
  bottom: 125px;
}

.newYpromo-bg {
  background: url('../images/sprite-promos/newYpromo2019/newYpromo-bg.png') no-repeat;
  background-size: 100% 100%;
}

.newYPromo-content {
  position: relative;
  width: 85%;
  margin: 0 auto;
  margin-top: 30%;
}

.newYPromo-content .leftTCloud {
  position: absolute;
  left: -15px;
  top: -20px;
}

.newYPromo-content .rightTCloud {
  position: absolute;
  right: 40px;
  top: -55px;
}

.newYPromo-content .leftBCloud {
  bottom: -20px;
  position: absolute;
  left: 25px;
}

.newYPromo-content .rightBCloud {
  position: absolute;
  bottom: -22px;
  right: 0;
}

.newYPromo-content .close-icon {
  right: 15px;
  position: absolute;
  top: 10px;
}

.newYPromo-content .pop-block {
  display: flex;
}

.newYPromo-content .pop-left {
  width: 30%;
}

.newYPromo-content .pop-pic {
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.newYPromo-content .pop-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.newYPromo-content .pop-content .progressbar {
  position: relative;
}

.newYPromo-content .pop-content .showAmount {
  font-size: 1.2rem;
  color: #fff;
  left: 5px;
  position: absolute;
}

.newYPromo-content .pop-content .pop-progressbar__content {
  display: flex;
  color: #fff;
  font-size: 1.4rem;
  width: 100%;
  justify-content: center;
  margin-top: 5px;
}

.newYPromo-content .pop-content .pop-progressbar__content .progressbar {
  margin-right: 10px;
}

.newYPromo-content .pop-content .pop-progressbar__content .processcontent {
  height: inherit;
}

.newYPromo-content .pop-content .desc {
  font-size: 1.4rem;
  color: #fff;
  margin-top: 5px;
}

.newYPromo-content .pop-content .submit {
  margin-top: 5px;
  margin-bottom: 35px;
}


/* end: 2019新年活动 */


/* start: 2019lixikyhoi活动 */

.lixikyhoi .redpacket-block {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 111111;
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.lixikyhoi .redpacket-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.lixikyhoi .redpack {
  background: url(../images/sprite-promos/lixikyhoi2019/redpacket.png) no-repeat;
  background-size: 100% 100%;
  height: 90px;
  width: 65px;
  right: 5vw;
  display: block;
  position: absolute;
}

.lixikyhoi .redPackNone {
  display: none;
}

.lixikyhoi .redpacked {
  background: url(../images/sprite-promos/lixikyhoi2019/redpacked.png) no-repeat;
  background-size: 100% 100%;
}

.lixikyhoi .redpacket-dialog {
  background: url(../images/sprite-promos/lixikyhoi2019/dialog.png) no-repeat;
  background-size: 100% 100%;
  width: 90vw;
  height: 40vh;
  position: absolute;
  left: 5vw;
  top: 20vh;
}

.lixikyhoi .redpacket-dialog .dialog-close {
  position: absolute;
  width: 4vw;
  height: 2vh;
  top: 9vh;
  right: 2vw;
}

.lixikyhoi .redpacket-dialog .dialog-sumbit {
  position: absolute;
  width: 26vw;
  height: 4vh;
  top: 27vh;
  right: 15vw;
}

.lixikyhoi .redpacket-dialog .hours {
  position: absolute;
  top: 19.7vh;
  right: 34vw;
  color: #000;
  font-size: 2rem;
  width: 10vw;
  height: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lixikyhoi .redpacket-dialog .mins {
  position: absolute;
  top: 19.7vh;
  right: 22vw;
  color: #000;
  font-size: 2rem;
  width: 10vw;
  height: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lixikyhoi .redpacket-dialog .seconds {
  position: absolute;
  top: 19.7vh;
  width: 10vw;
  height: 6.5vh;
  right: 10.5vw;
  color: #000;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lixikyhoi .redpack-icon {
  display: block;
  background: url(../images/sprite-promos/lixikyhoi2019/redpack-icon.png) no-repeat;
  background-size: 100% 100%;
  position: fixed;
  right: 22px;
  bottom: 125px;
  width: 100px;
  height: 80px;
}

.lixikyhoi .redPacket-pop {
  background: url(../images/sprite-promos/lixikyhoi2019/redpack-pop.png) no-repeat;
  background-size: 100% 100%;
  width: 80vw;
  height: 40vh;
  position: absolute;
  left: 10vw;
  top: 20vh;
}

.lixikyhoi .redPacket-pop .close-pop:before,
.lixikyhoi .redPacket-pop .close-pop:after {
  position: absolute;
  right: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #fff;
}

.lixikyhoi .redPacket-pop .close-pop:before {
  transform: rotate(45deg);
}

.lixikyhoi .redPacket-pop .close-pop:after {
  transform: rotate(-45deg);
}

.lixikyhoi .redPacket-pop .pop-redpackeds {
  position: absolute;
  top: 28vh;
  right: 27vw;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

.lixikyhoi .redPacket-pop .pop-totalmoney {
  width: 10px;
  height: 10px;
  position: absolute;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  top: 33vh;
  right: 44vw;
}


/* end: 2019lixikyhoi活动 */


/* 定时活动时间*/

.ui-promochange-tip {
  display: none;
}
