/**
 *  MAIN -----------------
 *  页面样式代码
 */
@import url(../../../common/common-pc.less);

@page-w: 1222px;
@yellow: #fdcc21;
@green: #4bc065;
@red: #f22974;
.wraps {
    .pos(r);
    width: @page-w;
    margin: 0 auto;
    height: 100%;
    .cl();
}
.zt {
    &-part {
        &1 {
            padding: 25px 0 40px;
            .cl();
            font-size: 0;
            .img {
                .dis(ib);
                vertical-align: middle;
                width: 620px;
                height: 280px;
                .bdr(4px);
            }
            .ct {
                .dis(ib);
                vertical-align: middle;
                width: 510px;
                margin-left: 78px;
                text-align: justify;
                h2 {
                    line-height: 50px;
                    font-size: 28px;
                    color: #282727;
                }
                p {
                    margin: 22px 0 0;
                    line-height: 26px;
                    font-size: 14px;
                    color: #767676;
                }
            }
        }
        &2 {
            .tit {
                padding: 42px 0 30px;
                text-align: center;
                h2 {
                    line-height: 40px;
                    font-size: 26px;
                    color: #2a2a2a;
                }
                p {
                    line-height: 34px;
                    font-size: 16px;
                    color: #666;
                }
            }
        }
    }
}