@charset "utf-8";
@import url(../../../common/common.less);
@import url(../../../common/flexible.less);
@page-w: 750;
@blue: #31aab5;
@blue-h: #38c2cf;
@yellow: #fbff50;
@gold: #dfb04c;
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: #fff;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;
}
img {
    border: 0;
    max-width: 100%;
}
a, label {
    blr: ~'expression(this.onFocus=this.blur())';
}
:focus {
    outline-style: none;
}
input[type="search"] {
    -webkit-appearance: none;
}
a {
    color: #333;
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
}
html, body {
    min-height: 100vh;
    background: #efeff4;
    -webkit-overflow-scrolling: touch;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

.blue {
    color: @blue !important;
}
.yellow {
    color: @yellow  !important;
}
.icon {
    font-size: inherit;
    line-height: 1;
}
.text-e1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-e2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.anim {
	.transition(all, 0.6s, cubic-bezier(0.215, 0.61, 0.355, 1), 0s);
}

.bdr10 {
    .bdr(10 / @font);
}
.flex-wrp {
	.dis(flex);
}
.flex1 {
    .flex(1);
}
.show {
    .dis(b) !important;
}
.wrap {
    .pos(r);
    .w(675);
    .pd(200, 0, 150);
    margin: 0 auto;
    .cl();
}
// 头部
.header {
    .pos(f);
    top: 0;
    left: 50%;
    z-index: 99;
    .w(750);
    .translateX(-50%);

    &-main {
        .pos(r);
        .h(100);
        line-height: 1;
        background: @blue;
        text-align: center;

        .back {
            .pos(a);
            top: 0;
            left: 0;
            .fz(40);
            .pd(30, 15);
            color: #fff;
        }

        .home {
            .pos(a);
            top: 0;
            .l(80);
            .fz(40);
            .pd(30, 15);
            color: #fff;
        }

        .title {
            .dis(b);
            .mg(0, 140);
            .lhh(100);
            color: #fff;
            .fz(40);
            img {
                .dis(ib);
                vertical-align: top;
                .mgs(t, 5);
                .h(90);
            }
        }
    }

    &-menu {
        .pos(a);
        top: 0;
        right: 0;
        z-index: 100;
        .fz(40);
        .pd(30, 15);
        .mgs(r, 20);
        color: #fff;
        &-sub {
            .dis(n);
            .pos(a);
            .t(100);
            .r(0);
            white-space: nowrap;
            .w(750 / 2);
            color: #fff;
            background: #49484b;
            .bdr(10 / @font);

            &:before {
                content: '';
                .pos(a);
                .r(20);
                .t(-20);
                .triangle(top, 20/@font, #49484b);
            }
        }
        ul {
            // max-height: 900 / @font;
            // .ovy(a);
            li {
                border-bottom: 1px solid #59585b;
                &:last-child {
                    border: none;
                }
            }
            a {
                .dis(b);
                .lhh(70);
                color: #fff;
                .fz(28);
                text-align: left;
                .pds(l, 90);

                .icon {
					.dis(ib);
					vertical-align: middle;
					.mgs(t, -3);
					.fz(28);
                    .mgs(r, 25);
                }
            }
        }
    }

    &-info {
        .h(81);
        background: #f0eff5;
        border-bottom: 1px solid #ababab;

        li {
            .pos(r);
            .lhh(60);
            .mg(10, 0);
            text-align: center;

            .icon {
                .pos(a);
                .fz(42);

                &-zun {
                    .t(9);
                    .l(26);
                    color: #7e673c;
                }

                &-youxiang {
                    .t(5);
                    .r(34);
                    .fz(50);
                    color: #ababab;
                }

                &-jinbi {
                    .t(9);
                    .l(26);
                    color: @gold;
                }
            }

            &:last-child {
                border-left: 1px solid #ababab;
            }

            .name {
                .fz(28);
                color: #000;
            }

            .num {
                .fz(28);
                color: #1864c7;
            }
        }
	}
	&-scroll {
		.pos(r);
		.lhh(81);
		.fz(30);
		.pd(0, 20, 0, 50);
        background: #f0eff5;
		border-bottom: 1px solid #ababab;
		.scrollbox {
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			transition: all .2s;
			.txt, .txt-clone {
				display: inline;
				position: relative;
			}
		}
		.icon-laba {
			.pos(a);
			.t(25);
			.l(10);
			.fz(30);
			color: @gold;
		}
	}
}

// 通用底部
.footer {
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 98;
    .w(750);
    .h(134);
    .translateX(-50%);
    text-align: center;
    background: @blue;

    .li {
        .pd(14, 0, 0);
        background: none;
        border: 0;
        .icon {
            .fz(62);
            color: #fff;
        }
    }

    p {
        display: block;
        .lh(60);
        color: #fff;
        .fz(28);
    }

    .cur {
        p, .icon {
            color: @yellow;
        }
    }
    .link {
        .mgs(r, 150);
        height: 100%;
        .li {
            .dis(b);
            .pd(0);
            .lh(134);
            .fz(35);
            color: #fff;
            &.cur {
                color: @yellow;
            }
        }
    }
    .header {
        &-menu {
            .pd(38, 15);
            &-sub {
                top: auto;
                .b(150);

                &:before {
                    top: auto;
                    .b(-20);
                    .triangle(bottom, 20/@font, #49484b);
                }
            }
        }
	}
	.cz-list {
		.dis(n);
		.pos(a);
		left: 0;
		.b(134);
		.w(750);
		.pds(t, 10);
		.lh(45);
		background: #fff;
		text-align: center;
		.fz(28);
		span {
			.dis(b);
			margin: 0 auto;
			.fz(58);
		}
		li {
			.pos(r);
			&:first-child {
				.icon {
					color: @blue;
				}
			}
			&:last-child {
				.icon {
					color: @gold;
				}
				&:before {
					content: '';
					.pos(a);
					.t(10);
					left: 0;
					width: 1px;
					.h(80);
					background: #c3c3c3;
				}
			}
		}
	}
}

// 首页轮播
.swiper1 {
    .pds(b, 28);
    .swiper-slide {
        .ov(h);
        .bdr(10 / @font);
        img {
            .dis(b);
            .w(675);
            .h(230);
            .bdr(10 / @font);
        }
    }
    .swiper-pagination {
        .lh(13);
        .b(0);
    }
    .swiper-pagination-bullet {
        .w(13);
        .h(13);
        background: #c4c4c6;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        .bdr(10px);
        background: #999;
    }
}

.index {
    &-list {
        li {
            .mgs(t, 20);
            img {
                .dis(b);
                .w(675);
                .h(136);
                .bdr(10 / @font);
            }
        }
    }
}

// 登录
.login-body {
    background: #2c2b33;
}
.login {
    .w(750);
    height: 100%;
    .pd(150, 45, 134);
    margin: 0 auto;
    background: #2c2b33;
    .logo {
        .dis(b);
        .h(200);
        margin: 0 auto;
        .mgs(b, 16);
    }
    .item {
        .pos(r);
        .pd(30, 0);
        .h(166);
        .lh(104);
        .fz(30);
        color: #333;
        .text {
            width: 100%;
			height: 100%;
			.lh(60);
            .pd(20, 20, 20, 100);
            border: 2/@font solid #ddd;
            .bdr(10 / @font);
            background: #fff;
			color: #333;
			.fz(30);
        }
        .icon {
            .pos(a);
            .t(54);
            .l(23);
            .fz(57);
            color: #999;
        }
        .btn {
            .dis(b);
            width: 100%;
            height: 100%;
            .bdr(10 / @font);
            text-align: center;
            line-height: 1;
            .fz(34);
            font-weight: 700;
            color: #fff;
            background: @blue;
            border: none;
            &:hover {
                background: @blue-h;
            }
        }
        .err-tips {
            .dis(n);
            position: absolute;
            right: 0;
            .t(110);
            text-align: right;
            color: #ff3737;
            .fz(24);
        }
    }
}

// 公告专区
.gg {
    &-tab {
        .li {
            .lh(96);
            text-align: center;
            .fz(30);
            font-weight: 700;
            border-bottom: 8 / @font solid #919191;
            .mgs(l, 12);
            &:first-child {
                margin-left: 0;
            }
            &.cur {
                color: @blue;
                border-color: @blue;
            }
        }
    }
    &-list {
        .pds(b, 30);
        &-item {
            .ov(h);
            .mgs(t, 28);
            background: #fff;
            .bdr(10 / @font);
            .tit {
                .pos(r);
                .lh(90);
                .mg(0,46, 0, 18);
                .fz(30);
                border-bottom: 1px solid #ddd;
                margin-bottom: -1px;
                .fr {
                    .pos(a);
                    .r(-28);
                    top: 50%;
                    .mgs(t, -14);
                    color: #ccc;
                    .fz(26);
                    .transition(all, 0.6s, cubic-bezier(0.215, 0.61, 0.355, 1), 0s);
                }
                &.cur {
                    .fr {
                        .rotate(180deg);
                    }
                }
            }
            .ct {
                .dis(n);
                .pd(20, 0);
                .mg(0, 18);
                line-height: 1.5;
                .fz(34);
                border-bottom: 1px solid #ddd;
                text-align: justify;
                .bonus_img {
                    line-height: 0;
                    position: relative;
                }
                .w100 {
                    width: 100% !important;
                }
                h5 {
                    font-size: .9em;
                    .mg(20, 0);
                    font-weight: 700;
                    color: #333;
                }
                .listNum {
                    color: #535353;
                    .mg(20, 0);
                    line-height: 1.7em;
                    font-size: .8em;
                    padding-inline-start: 40 / @font;
                    > li {
                        list-style: decimal;
                    }
                }
                .t_red {
                    color: #f00 !important;
                }
                .bonus_button {
                    display: table;
                    width: 100%;
                }
                .btn_bonus {
                    color: #fff;
                    border: 0;
                    cursor: pointer;
                    padding: 0;
                    .bdr(10 / @font);
                    .h(80);
                    line-height: inherit;
                    background-color: #b4506a !important;
                    font-size: .9em !important;
                    .mgs(t, 20);
                    &:nth-child(1) {
                        margin-top: 0;
                    }
                }
            }
            .times {
                .lh(72);
                .fz(28);
                color: #999;
                text-align: center;
            }
        }
        .about-us {
            .ov(h);
            .mgs(t, 28);
            background: #fff;
            .bdr(10 / @font);
            .pd(30, 18);
            line-height: 1.8;
            .fz(28);
            text-align: justify;
        }
    }
}

// 储值
.chuzhi {
    .pd(50, 30);
    .mgs(b, 20);
    background: #fff;
    .bdr(10 / @font);
    .steps {
        > div {
            text-align: center;
            span {
                .pos(r);
                .dis(ib);
                vertical-align: top;
                .wh(90);
                .lh(90);
                .fz(30);
                background: #ccc;
                color: #fff;
                .bdr(100%);
                &:after {
                    content: '';
                    .pos(a);
                    right: -150%;
                    top: 50%;
                    .mgs(t, -5);
                    width: 150%;
                    .h(10);
                    background: #ccc;
                }
            }
            &:last-child {
                span {
                    &:after {
                        content: '';
                        .dis(n);
                    }
                }
            }
            &.cur {
                span {
                    background: @blue;
                    &:after {
                        background: @blue;
                    }
                }
            }
        }
    }
    .steps-ct {
        .dis(n);
        .pd(50, 0, 0);
        .tit {
            .lh(50);
            .fz(40);
            border-left: 8/@font solid @blue;
            .pds(l, 30);
            color: #333;
        }
        .text {
            .mgs(t, 30);
            width: 100%;
            .h(90);
            .pd(20, 0);
            .lh(50);
            .fz(48);
            font-weight: 700;
            color: @blue;
            border: none;
            border-bottom: 4 / @font solid #B0BEC5;
            &:focus {
                border-bottom: 6 / @font solid @blue;
            }
        }
        .condition {
            .lh(50);
            .pd(30, 0, 0);
            .fz(28);
        }
        .tips {
            .mgs(t, 50);
            .pd(50, 0);
            line-height: 1.8;
            border-top: 1px solid #B0BEC5;
            .fz(32);
            p {
                .pd(10, 0);
            }
            .note {
				padding: 1em;
				color: #fff;
                background: #424242;
                dt {
                    .fz(38);
                }
                dd {
                    .fz(34);
                }
                hr {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    border: 0;
                    height: 1px;
                    background-color: rgba(0,0,0,.12);
                }
            }
        }
        .btn {
            .dis(ib);
            vertical-align: top;
            .pd(0, 60);
            .lh(90);
            .mgs(r, 20);
            border: none;
            .fz(30);
            color: #fff;
            background: @blue;
            .bdr(10 / @font);
            cursor: pointer;
            &:hover {
                background: @blue-h;
            }
            &-box {
                .pd(30, 0, 0);
                font-size: 0;
            }
            &.dis {
                color: #fff;
                background: #eee;
            }
        }
        .radio {
            .pos(r);
            .dis(b);
            .lh(70);
            .fz(38);
            .pds(l, 52);
            &-box {
                .mgs(t, 30);
                input[type=radio] {
                    .dis(n);
                    &:checked + label {
                        color: @blue;
                        font-weight: bold;
                        &:before {
                            content: "\2022";
                            color: #f3f3f3;
                            .fz(40);
                            text-align: center;
							.lh(26);
                        }
                    }
                }
            }
            &:before {
                content: "";
                display: inline-block;
                .wh(32);
                position: absolute;
                left: 0;
                .t(20);
                background-color: #ccc;
                box-shadow: inset 0px 4/@font 6/@font 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
                .bdr(100%);
            }
        }
    }
}
.table {
    width: 100%;
    margin: 0;
    color: #afafaf;
    background: #fff;
    border-collapse: collapse;
    border: 1px solid #ccc;
    color: #333;
    th, td {
        border: 1px solid #ccc;
        .pd(32, 16);
        .lh(36);
        .fz(30);
    }
}

.user {
	&-list {
		font-size: 0;
		ul {
			.mgs(r, -20);
		}
		li {
			.dis(ib);
			vertical-align: top;
			.mg(10, 20, 10, 0);
			a {
				.dis(ib);
				vertical-align: top;
				.w(210);
				.lhh(100);
				.fz(40);
				background: @blue;
				color: #fff;
				text-align: center;
				.bdr(10 / @font);
				&:hover {
					background: @blue-h;
				}
				&.cur {
					background: #e90080;
				}
			}
		}
	}
	&-box {
		.tit {
			.lh(80);
			.fz(46);
			color: #000;
			font-weight: 700;
			border-bottom: 4/@font solid #000;
		}
		.ct {
			.pds(b, 30);
			.t {
				.dis(ib);
				vertical-align: top;
				.lh(70);
				.fz(32);
				color: #333;
			}
			.radio {
				.pos(r);
				.dis(b);
				.lh(70);
				.fz(38);
				.pds(l, 52);
				&-box {
					.mgs(t, 30);
					input[type=radio] {
						.dis(n);
						&:checked + label {
							color: @blue;
							font-weight: bold;
							&:before {
								content: "\2022";
								color: #f3f3f3;
								.fz(40);
								text-align: center;
								.lh(26);
							}
						}
					}
					label {
						.dis(ib);
						vertical-align: top;
						.mgs(l, 40);
					}
				}
				&:before {
					content: "";
					display: inline-block;
					.wh(32);
					position: absolute;
					left: 0;
					.t(20);
					background-color: #ccc;
					box-shadow: inset 0px 4/@font 6/@font 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
					.bdr(100%);
				}
			}
			.table {
				.mgs(t, 20);
				text-align: center;
				th {
					text-align: center;
					background: #faca0c;
				}
				.icon {
					.fz(40);
					&-gou1 {
						color: #2c8500;
					}
					&-cha1 {
						color: #bc1214;
					}
				}
			}
		}
	}
}

.form {
	.item {
		.pos(r);
		.pd(15, 0);
	}
	label {
		.dis(b);
		.lh(70);
		.fz(32);
		color: #333;
	}
	.text {
		width: 100%;
		.h(100);
		.lh(60);
		.pd(30);
		border: 2/@font solid #ddd;
		.bdr(10 / @font);
		background: #fff;
		color: #333;
		.fz(30);
	}
	select.text {
		.lh(96);
		.pd(0, 30);
		-webkit-appearance:none;
	}
	input:disabled {
		background: #eee;
	}
	.icon {
		.pos(a);
		.r(30);
		.t(126);
		.fz(20);
		color: #ccc;
	}
	.btn {
		.dis(b);
		width: 100%;
		.h(100);
		.bdr(10 / @font);
		text-align: center;
		line-height: 1;
		.fz(34);
		font-weight: 700;
		color: #fff;
		background: @blue;
		border: none;
		&:hover {
			background: @blue-h;
		}
	}
}

// alert, confirm样式
#sw-bg {
    .pos(f);
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    #sw-con {
        z-index: 9999;
		.w(600);
       .pds(b, 60);
        position: absolute;
        background: #fff;
        .bdr(10/@font);
    }

    #sw-tit {
        .fz(30);
        color: #666;
		.pd(20, 40);
        .lh(80);
        border-bottom: 1px solid #f6f6f6;
    }

    #sw-msg {
		.pd(100, 60, 60);
		.lh(60);
        .fz(32);
        color: #666;
        text-align: center;
    }

    #sw-close {
        display: block;
        position: absolute;
		.r(40);
		.t(40);
        color: #ccc;
        .fz(28);
        cursor: pointer;
        .anim();

        &:hover {
            color: @blue;
            .rotate(-180deg);
        }
    }

    #sw-btn-box {
        text-align: center;
        font-size: 0;
    }

    #sw-btn-ok, #sw-btn-no {
		.dis(ib);
		.w(250);
		.lhh(80);
        color: white;
		border: none;
		.fz(28);
        .bdr(10/@font);
    }

    #sw-btn-ok {
        background: @blue;
        border: 1px solid @blue;

        &:hover {
            background: @blue-h;
            border: 1px solid @blue-h;
        }
    }

    #sw-btn-no {
        color: #666;
        border: 1px solid #ccc;
        .mgs(l, 30);

        &:hover {
            color: @blue;
            border: 1px solid @blue;
        }
    }
}