/**
 *  MAIN -----------------
 *  页面样式代码
 */
@import url(../../../common/common-pc.less);

body {
    .ovx(h);
    margin: 0;
    padding: 0;
    font: 16px Microsoft YaHei, "\5B8B\4F53", Arial, HELVETICA;
    color: #333;
    background: #200258;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, blockquote, p {
    padding: 0;
    margin: 0;
}
ol, ul, li {
    list-style: none;
}
input, button {
    font-family: "Microsoft YaHei";
}
img {
    vertical-align: top;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a, label {
    blr: ~'expression(this.onFocus=this.blur())';
}
a {
    text-decoration: none;
}
:focus {
    outline-style: none;
}
.fl {
    float: left;
    _display: inline;
}
.fr {
    float: right;
    _display: inline;
}
@page-w: 1232px;
.zticon {
    background: url(../images/zticon.png) no-repeat;
}
.wraps {
    .ov(h);
    width: @page-w;
    margin: 0 auto;
}
.img {
    .pos(r);
    width: 100%;
    height: 500px;

    .wraps {
        .pos(r);
        height: 100%;
    }
    .bg {
        .pos(a);
        top: 0;
        left: 50%;
        width: 1920px;
        max-width: none;
        margin-left: -1920px / 2;
    }
    .btn {
        .pos(a);
        .ov(h);
        width: 140px;
        height: 40px;
        z-index: 5;
        font-size: 0;
        background: rgba(0, 0, 0, .5);
    }
    &1 {
        &-4 {
            .btn {
                top: 61px;
                &1 {
                    left: 135px;
                }
                &2 {
                    left: 518px;
                }
                &3 {
                    left: 904px;
                }
            }
        }
        &-5 {
            .btn {
                top: 215px;
                left: 92px;
                width: 212px;
                height: 60px;
            }
        }
        &-12 {
            .btn {
                top: 336px;
                left: 497px;
                width: 145px;
            }
        }
        &-13 {
            height: 182px;
        }
    }

    &2 {
        height: 580px;
        padding: 0 0 112px;
        background: url(../images/img2.jpg) no-repeat center 0;
        .wraps {
            overflow: visible;
        }
    }

    &3 {
        background: #e9eaea;
    }

    &4 {
        &-1 {
            // background: url(../images/img4_01.jpg) no-repeat center 0;
            .btn {
                top: 0;
                left: 520px;
                background-position: -10px -454px;
                &:hover {
                    background-position: -520px -374px;
                }
            }
        }
        &-2 {
            // background: url(../images/img4_02.jpg) no-repeat center 0;
        }
        &-3 {
            // background: url(../images/img4_03.jpg) no-repeat center 0;
        }
        &-4 {
            // background: url(../images/img4_04.jpg) no-repeat center 0;
        }
        &-5 {
            // background: url(../images/img4_05.jpg) no-repeat center 0;
        }
        &-6 {
            height: 378px;
            // background: url(../images/img4_06.jpg) no-repeat center 0;
        }
    }

    &5 {
        overflow: hidden;
        height: 930px;
        background: url(../images/img5.jpg) no-repeat center 0;
    }
}

.btn-talk {
    @w: 229px;
    @h: 558px;
    .pos(f);
    _position: absolute;
    z-index: 999;
    top: 50%;
    right: 10px;
    width: @w;
    height: @h;
    margin-top: -@h / 2;
}

/* sld轮播图 */
.tab-xyzp {
    font-size: 0;
    text-align: center;
    margin-bottom: 145px;

    .zticon {
        .ov(h);
        .dis(ib);
        width: 235px;
        height: 128px;
        margin: 0 16px;
        cursor: pointer;
        &1 {
            background-position: -520px -10px;
            &.cur, &:hover {
                background-position: -265px -306px;
            }
        }
        &2 {
            background-position: -265px -10px;
            &.cur, &:hover {
                background-position: -10px -10px;
            }
        }
        &3 {
            background-position: -520px -158px;
            &.cur, &:hover {
                background-position: -10px -158px;
            }
        }
        &4 {
            background-position: -265px -158px;
            &.cur, &:hover {
                background-position: -10px -306px;
            }
        }
        &.cur, &:hover {
            .box-shadow(0, 5px, 18px, rgba(0, 0, 0, .3));
            .bdr(22px);
        }
    }
}

.sld-zt{
    @h: 590px;
    .pos(r);
    width: @page-w;
    margin: 0 auto 0;
    height: @h;
    clear: both;

    .slides_container {
        .ov(h);
        width: 1170px;
        height: @h;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        .ov(h);
        text-indent: -999px;
        width: 60px;
        height: 60px;
        margin: -55px 0 0;
        cursor: pointer;
    }
    .prev {
        left: -130px;
        background: url(../images/zticon.png) no-repeat -10px -587px;
        &:hover {
            background-position: -90px -587px;
        }
    }
    .next {
        right: -130px;
        background: url(../images/zticon.png) no-repeat -250px -587px;
        &:hover {
            background-position: -170px -587px;
        }
    }
    .pagination {
        .dis(n);
    }
    .sld-img {
        .ov(h);
        width: @page-w;
        .cl();

        li {
            float: left;
            margin: 0 15px 15px 0;
            img {
                width: 380px;
                height: 270px;
            }
        }
        .mr0 {
            margin-right: 0;
        }
    }
}

.sld-zt1{
    @h: 580px;
    .pos(r);
    width: @page-w;
    margin: 0 auto 0;
    height: @h;
    clear: both;

    .slides_container {
        .ov(h);
        width: 1127px;
        height: @h;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        .ov(h);
        text-indent: -999px;
        width: 10px;
        height: 15px;
        margin: -7px 0 0;
        cursor: pointer;
    }
    .prev {
        left: -50px;
        background: url(../images/left1.png) no-repeat 0 0;
        &:hover {
            background: url(../images/left2.png) no-repeat 0 0;
        }
    }
    .next {
        right: -50px;
        background: url(../images/right1.png) no-repeat 0 0;
        &:hover {
            background: url(../images/right2.png) no-repeat 0 0;
        }
    }
}
